*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
}
.contener{
    margin-top: 100px;
}
.span1{
    color:rgb(152, 144, 144);
    margin: 10px;
}
.span2{
    color:rgb(152, 144, 144);
    margin: 10px;
}
img{
    height: 30px;
    width: 30px;
    opacity: 0.5;
}
.pass{
    background: white;
    padding: 10px;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    color:rgb(152, 144, 144);
    cursor: pointer;
}
.pass input{
    border: 0;
    outline: none;
    color:rgb(152, 144, 144);
}
button{
    font-size: 15px;
    margin: 10px 0px;
    width: 200px;
    height: 30px;
    color: rgb(122, 115, 115);
    border: 0;
    background: rgb(237, 230, 230);
    border-radius: 5px;
    cursor: pointer;
}
